<div class="info">
    Posted on $date$
    $if(author)$
        by $author$
    $endif$
</div>

<p style="font-size: 0.75em; color: gray"><b>Nota:</b> por brevedad y en general, cualquier afirmación en este <s>blog</s> <bold>no es</bold> absoluta; por lo que implícitamente contienen un: <i>"en mi opinión"</i>, <i>"seguramente"</i>, <i>"en general"</i>, etc. Agradezco de antemano cualquier corrección.</p>

$body$

<div id="disqus_thread"></div>
<script>
(function() {
  var d = document, s = d.createElement('script');
  s.src = '//josejuan-github-io.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

